# fly.toml app configuration file generated for douk on 2023-06-08T05:48:29Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "douk"
primary_region = "lhr"

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
